.footer {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 70px;
  text-align: center;
  background-color: #2B3C46;

  a {
    margin-right: 10px;
  }

  p {
    margin: 0;
  }
}
