.login-container {
  height: calc(100vh - 70px);
  width: 100%;
  background: linear-gradient(to right, #1e2933, #364855);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;

  .logo {
    padding-top: 3em;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  .login-form {
    width: 370px;
    height: 550px;
    background-image: url("../../assets/login.avif");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

label {
  letter-spacing: 2px;
}

input {
  margin-top: 4px;
  width: 320px;
}

button {
  letter-spacing: 1px;
  width: 100px;
  margin-top: 10px;
  background-color: rgb(117, 114, 114);
}
