.home-container {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 60px;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(to left, #1c2631, #232f36);

  .main-section {
    margin-left: 8px;
  }

  .trending-games,
  .popular-games,
  .rated-games {
    width: 70vw;
    margin-top: 30px;
    padding-left: 20px;
    overflow: scroll;
    overflow-y: hidden;
    padding-right: 40px;
  }

  .games-thumbnail {
    display: flex;
    width: 50%;
    gap: 25px;

    .game {
      .cover {
        img {
          width: 100%;
          height: 210px;
          box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6),
            0 45px 26px rgba(0, 0, 0, 0.14);
          cursor: pointer;
        }
      }

      .detail {
        width: 180px;

        .name {
          margin-top: 20px;
          cursor: pointer;
          font-size: 12px;
        }

        .genre {
          margin-top: 5px;
          font-size: 11px;
          color: rgb(211, 204, 204);
        }
      }
    }
  }

  .latest-games {
    padding: 30px 20px;

    .name {
      width: 100%;
      cursor: pointer;
      font-weight: bold;
      padding-left: 20px;
    }

    .genre {
      padding-left: 20px;
    }
  }
}

h4 {
  border-left: 5px solid yellow;
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 50px;
}

::-webkit-scrollbar {
  background: white;
  width: 7px;
  height: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 5px;
  width: 30px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #eeeeee;
}

@media only screen and (max-width: 600px) {
  .home-container {
    flex-direction: column;
    height: 300vh;
  }

  .main-section {
    width: 100vw !important;
  }

  .trending-games,
  .popular-games,
  .rated-games {
    width: 90vw !important;
    margin: 0;
    height: 220px;
  }

  img {
    width: 80% !important;
    height: 120px !important;
  }

  .cover {
    width: 150px !important;
  }

  .game {
    width: 70% !important;
  }

  .main-section {
    .name {
      width: 50% !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .trend-section,
  .rated-section,
  .popular-section,
  h4,
  .genre {
    width: fit-content;
  }

  .detail {
    width: 90% !important;
  }
}
